body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    margin: 0;
    background-color: #f5f7fc;
}

#top-name, h2 {
    font-size: 25px;
    font-weight: 400;
    color: rgb(60, 60, 194);
    margin-top: 0;
}

#tops {
    padding-top: 10px;
    box-shadow: 3px 3px 4px rgba(33, 33, 101, 0.3);
    margin-bottom: 20px;
    background-color: white
}

#down-name {
    margin-top: 5px;
    color: white;
    font-size: small;
    font-size: 100;
    border-top: 5px;
    font-family: '__Inter_79e26d', '__Inter_Fallback_79e26d',-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}
#homedown {
    text-align: left;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    width: 150px;
    background-color: #1139A8;
    color: rgb(105, 117, 159);
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 3px -3px 4px rgba(33, 33, 101, 0.4);
}

#switch-buttons {
    display: flex;
    flex-basis: 40%;
}

#first-nav {
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    margin-bottom: 0;
    margin-top: 20px;
}

.top-button {
    height: 25px;
    background-color: white;
    color: rgb(60, 60, 194);
    margin: 5px;
    transform: scale(1);
    transition: 0.5s;
    font-size: smaller;
    font-weight: lighter;
    border: 0;
}

.top-button:hover, .topred {
    transform: scale(1.1);
    color: white;
    background-color: #e54c38;
    border-radius: 5px;
    box-shadow: -2px 2px 4px rgba(227, 82, 82, 0.7);
}

#purpose-desc, #purposeDesc {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    font-weight: 200;
    padding: 5px;
    margin-top: 0;
    animation: slide-in 1s ease-out;
}

#purpose-desc {
    text-align: center;
}

  @keyframes slide-in {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }  

#purpose-text {
    color: #e54c38;
    font-family: '__Inter_79e26d', '__Inter_Fallback_79e26d',-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    text-align: center;
    margin-top: 10px;
}

#purpose-pad {
    border: 2px solid #1139A8;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
}

.whiteButton {
    background-color: white;
    padding: 5px;
    color: rgb(183, 183, 212);
    margin: 5px;
    transform: scale(0.9);
    font-size: smaller;
    font-weight: lighter;
    border: 0;
    transition: 0.3s;
    border-radius: 5px;
    margin-left: 10px;
    border: 1px solid #e54c38;
    color: #e54c38;
    box-shadow: inset 3px 3px 3px rgba(87, 85, 85, 0.5);
}

.whiteButton:hover {
    font-family: '__Inter_79e26d', '__Inter_Fallback_79e26d',-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    transform: scale(1);
    border: 0;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #e54c38;
}

.blueButton {
    background-color: transparent;
    color: rgb(183, 183, 212);
    transition: 0.3s;
    transform: scale(0.9);
    border: 0;
}

.blueButton:hover {
    transform: scale(1);
    border: 0;
    color: #e54c38;
}

#footer {
    height: 300px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #020F33;
    color: white;
    text-align: center;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    min-height: 20vh;
    box-shadow: 3px -3px 4px rgba(81, 75, 255, 0.5);
}

img {
    border: 0;
    border-radius: 5px;
}

h6 {
    font-size: 13px;
    font-weight: 200;
    font-family: '__Inter_79e26d', '__Inter_Fallback_79e26d',-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

a svg{
    transform: scale(1);
    transition: 0.3s;
}

a svg:hover {
    transform: scale(1.1);
}
